<footer>
    <div class="copyright">
        <div class="container">
            <div class="col-md-8">
                <p> ©2018Sir Vishveshwaraiah Institute of Science & Technology, Inc. All Rights Reserved. </p>
            </div>
            <div class="col-md-4">
                <ul class="bottom_ul">
                    <li><a href="http://www.svtm.in"> SVTM </a></li>
                    <li><a href="mailto:office@svtm.in"> Email us </a></li>
                    <li><a href="https://www.facebook.com/svtm.madanapalli/"> Facebook </a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>